html {
    background: url("img/file-20220504-23-ww3zeq.avif") no-repeat center fixed;
    background-size: cover;
}

div {
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: rgba(141, 233, 233, 0.432);
    padding: 50px;
    border-radius: 25px;
}

p {
    font-size: large;
}

button {
    font-size: large;
    border-radius: 5px                                                                                                                                                                ;
}